{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block inscription %}
 {% endblock %}
{% block contenue %}


<div class="example-wrapper">
    <div class="container">
              {% if mon_panier|length > 0 %}
                        <div class="row">
         <div class="col-12 col-sm-6 col-md-8">
                 <table class="table">
            <thead>
               <tr>

               <th></th>
                  <th>Produit</th>

                  <th>Quantité</th>
                  <th>Prix</th>
                  <th>Total</th>
                  <th></th>
                   <th></th>
                     
               </tr>
            </thead>
            <tbody>
             {% set finalTotal = null %}
               {% for produit in mon_panier %}
              
                 <tr>
                  <td class='text-center'><img src="uploads/images/{{ produit.produit.illustration }}" class="img-fluid object-fit-cover rounded-5" style="height:50px ; width:50px" alt="" srcset=""></td>
                  <td>{{produit.produit.nom }}<br><small>{{produit.produit.soustitre }}</small></td>
                  <td>{{produit.quantité }}</td>
                  <td>{{ (produit.produit.prix /100)|number_format('2', ',', '.') }}</td>
                  <td>{{((produit.produit.prix /100) * produit.quantité)|number_format('2', ',', '.') }}</td>
                  <td><a href="{{ path('app_panier_supprimer_unproduit',{'id':produit.produit.id}) }}">Retirer</a></td>
                  <td>
         <a href="{{ path('app_panier_decrementer_unproduit', {'id':produit.produit.id}) }}">Decrementer - 1</a>
      
         <a href="{{ path('app_panier_incrementer_unproduit', {'id':produit.produit.id}) }}">Incrementer + 1</a>
      </td>
               </tr>
               {% set  finalTotal =  finalTotal + ((produit.produit.prix /100) * produit.quantité) %}
               {% endfor %}
            </tbody>
           </table>
         </div>
      </div>
             
      <div class="row">
         <div class="col-12 col-sm-6 col-md-4">
                     <div class='bg-light p-2 '>
         <p class="text-dark">Montant total à payer: {{ finalTotal|number_format('2', ',', '.') }} ARIARY</p><hr>
         <a href="{{ path('app_commande') }}" class="btn   btn-success">Valider ma commande</a>
      </div>
         </div>
         <p class="text-dark">Nombre total de produits dans mon panier: {{ mon_panier|length }}</p><hr>
      </div>
       {% else %}
        <p class="text-dark badge badge-warning  ">Vous n'avez pas encore ajouter des commandes</p>
        {% endif %}   
         
      </div>
</div>
{% endblock %}
